In [1]:
import sqlite3 as sl

In [2]:
con = sl.connect('my-test_codelou.db')

In [ ]:
with con:
    con.execute("""CREATE TABLE USER (
    id INTEGER NOT NULL PRIMARY FK
    )""")

In [7]:
def print_name_error(name):
    first_letter = name[0]
    print(first_letter)

In [8]:
print_name_error(1)

TypeError: 'int' object is not subscriptable

In [5]:
# Key off the TypeError above
def print_name(name):
    try:
        first_letter = name[0]
    except(TypeError):
        print("Please enter a name as a string")
    else:
        print(f"Hello, {first_letter}")

In [6]:
print_name('David')

Hello, D